<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/calendar.png" alt="" />
  </div>
  <div class="headings">
    <h2>Calendar</h2>
    <h3>Be on time</h3>
  </div>
</header>

<%- include('partials/footer'); -%>
